<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426151358299-pq7f90lq2u12ier0516eoh17bj9hrttr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426151358299-pq7f90lq2u12ier0516eoh17bj9hrttr</string>
	<key>API_KEY</key>
	<string>AIzaSyCOCrKaS8lczJrB03j9NAW3NoAPjeAyMII</string>
	<key>GCM_SENDER_ID</key>
	<string>426151358299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseRN.auth</string>
	<key>PROJECT_ID</key>
	<string>authfirebasern</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebasern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:426151358299:ios:2a79babc7ac7038271347e</string>
	<key>DATABASE_URL</key>
	<string>https://authfirebasern.firebaseio.com</string>
</dict>
</plist>
